<h1>Список всех рецептов</h1>

<% @recipe.each do |recipe| %>
    <h3> <%= recipe.title %> <h3>    
    <p> <%= recipe.flour %> </p>
    <p> <%= recipe.malt %> </p>
    <p> <%= recipe.water %> </p>
    <p> <%= recipe.brounextra %> </p>
<% end %>